
<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 3</b></center>    
<center><b><h1>Parmar Haril - 258</b></center>
<center><b><h1>23010101188</b></center>        
<pre>

# for and while loop

### 01) WAP to print 1 to 10.

In [7]:
for i in range(1,11,1) :
    print(i)

1
2
3
4
5
6
7
8
9
10

### 02) WAP to print 1 to n.

In [9]:
n = int(input("Enter value of n"))
for i in range(1,n+1,1) :
    print(i)

Enter value of n 10

1
2
3
4
5
6
7
8
9
10

### 03) WAP to print odd numbers between 1 to n.

In [8]:
n = int(input("Enter value of n"))
for i in range(1,n+1,2) :
    print(i)

Enter vallue of n 10

1
3
5
7
9

### 04) WAP to print numbers between two given numbers which is divisible by 2 but not divisible by 3.

In [10]:
a = int(input("Enter starting value of a"))
b = int(input("Enter starting value of b"))

for a in range(a,b+1,1) :
    if (a%2==0) and (a%3!=0) :
        print(a)

Enter starting value of a 20
Enter starting value of b 30

20
22
26
28

### 05) WAP to print sum of 1 to n numbers.

In [12]:
n = int(input("Enter value of n"))
sum = 0;
for i in range(1,n+1,1) :
    sum += i
print(sum)

Enter value of n 3

6

### 06) WAP to print sum of series 1 + 4 + 9 + 16 + 25 + 36 + ...n.

In [15]:
n = int(input("Enter value of n"))
sum = 0;
for i in range(1,n+1,1) :
    sum = i*i + sum
print(sum)

Enter value of n 2

5

### 07) WAP to print sum of series 1 – 2 + 3 – 4 + 5 – 6 + 7 ... n.

In [31]:
n = int(input("Enter value of n"))

sum = 0
sign = 1

for i in range(1,n+1) :
    sum+=  i*sign
    sign *= -1

print(sum)

Enter value of n 11

6

### 08) WAP to print multiplication table of given number.

In [23]:
n = int(input("Enter value of n"))
m = 1
for i in range(1,11,1):
    m = n*i
    print(n, "*" ,i, " = ", m);

Enter value of n 10

10 * 1  =  10
10 * 2  =  20
10 * 3  =  30
10 * 4  =  40
10 * 5  =  50
10 * 6  =  60
10 * 7  =  70
10 * 8  =  80
10 * 9  =  90
10 * 10  =  100

### 09) WAP to find factorial of the given number.

In [25]:
n = int(input("Enter value of n"))
m = 1

for i in range(1,n+1,1) :
    m *= i
print(m)

Enter value of n 3

6

### 10) WAP to find factors of the given number.

In [32]:
n = int(input())

for i in range(1,n+1) :
    if(n%i != 0) :
        print(i)

 5

2
3
4

### 11) WAP to find whether the given number is prime or not.

In [50]:
n = int(input())
x =0

for i in range(2,n,1) :
    if(n%i != 0) :
        x = 1
        break;
if x == 1 :
    print("Number is not Prime")
else :
    print("Number is prime")

 4

Number is not Prime

### 12) WAP to print sum of digits of given number.

In [38]:
n = input()
sum = 0

for i in range(len(n)) :
    sum += int(n[i])
print(sum)

 123

6

### 13) WAP to check whether the given number is palindrome or not

In [43]:
n= input()

c = n[::-1]
if (n == c) :
    print("palindrome")
else :
    print("Not Palindrome")

 111

palindrome

### 14) WAP to print GCD of given two numbers.

In [57]:
n = int(input("Enter value of n"))
m = int(input("Enter value of n"))

x = 0

a = n if (n>m) else m

for i in range(1,a) :
    if((n%i==0) and (m%i == 0)):
        x = i
print(x)

Enter value of n 8
Enter value of n 16

8